@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono';
    user-select: none;
    transition: ease-in-out;
    transition-duration: .25s;
}
:root {
    --black: #03071e;
    --grey: #f8f9fa;
    --white: #ffffff;
    --red: #ef233c;
    --yellow: #FFD166;
    --darkblue: #073B4C;
    --darkred: #d90429;
    --green: #06d6a0;
    --darkgreen: #05C793;
    --lightgray: lightgray;
    --darkgray: #343a40;
    --transparent50: rgba(255, 255, 255, 0.9);
    --transparent100: rgba(211, 211, 211, 0.064);

}
body {
    height: 100vh;
    width: 100vw;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
header {
    width: 80vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
header ul li {
    display: block;
    font-size: 18px;
    cursor: pointer;
    color: var(--black);
}
.mode {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    color: var(--black);
    font-size: 20px;
}
main {
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.searchContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.search input {
    border: 2px solid var(--green);
    width: 380px;
    height: 40px;
    padding-left: 15px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    font-size: 20px;
    outline: none;
    user-select: auto;
    box-shadow: 0px 2px 4px 0 var(--lightgray);
}
.search input::placeholder {
    color: var(--lightgray);
}
.search button {
    height: 44px;
    width: 100px;
    border: 2px solid var(--green);
    border-left: none;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    padding-right: 5px;
    font-size: 20px;
    color: var(--black);
    background-color: var(--green);
    cursor: pointer;
    box-shadow: 2px 2px 4px 0 var(--lightgray);

}
.search button:disabled {
    color: var(--white);
}
.period {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}
.period button {
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: var(--lightgray);
    cursor: pointer;
    
}
.period button:disabled {
    color: var(--darkblue);
}
.data {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.data .card {
    width: 250px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 0 var(--lightgray);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.data .card .information {
    height: 250px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--transparent50);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
    background-position: center;
    background-size: cover;
}
.dataContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}
.data .card .information:hover {
    background-color: var(--transparent100);
}
.data .card .information:hover h2 {
    font-size: 26px;
}
.data .card .information:hover p {
    opacity: 0;
}
.data .card .information p {
    color: var(--darkgray);
    margin-left: 15px;
}
.data .card .information h2 {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
.data .card .date {
    height: 30px;
    width: 100%;
    background-color: var(--yellow);
    color: var(--white);
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--black);
}

footer {
    height: 4vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer p {
    color: var(--black);
}